$black-100 : #000000;
$black-200 : #1A1A1A;
$black-300 : #333333;
$black-400 : #666666;

$white-100 : #FFFFFF;
$white-200 : #FAFAFA;
$white-300 : #F5F5F5;
$white-400 : #E5E5E5;

$blue      : #1A7BFF;
$deep-blue : #003478;
$green     : #33AE74;
$orange    : #FF9000;
$red       : #DA163D;
$yellow    : #FFF200;
