@import 'colors';

.wrapper
{
	position         : absolute;
	display          : flex;
	justify-content  : center;
	width            : 100vw;
	height           : 100vh;
	background-color : $blue;
}

.form
{
	width            : 340px;
	height           : calc(1.8rem + 1rem + (2 * (40px + 24px)) + 38px + .3rem + (2 * 24px));
	margin-top       : calc(40vh - (1.8rem + 1rem + (2 * (40px + 24px)) + 38px + .3rem + (2 * 24px)) / 2);
	padding          : 24px;
	border-radius    : 4px;
	background-color : $white-100;
	box-shadow       : 0 0 1rem transparentize($black-100, .95);

	> button[type='submit']
	{
		width            : 100%;
		height           : 38px;
		margin-bottom    : .3rem;
		cursor           : pointer;
		transition       : .2s ease all;
		color            : $white-100;
		border           : none;
		outline          : 2px solid transparent;
		outline-offset   : -4px;
		background-color : $blue;

		&:hover, &:focus
		{
			outline-color : $white-100;
		}

		&:active
		{
			background-color : darken($blue, 5%);
		}
	}
}

.form_title
{
	font-size     : 1.8rem;
	font-weight   : 600;
	line-height   : 1.8rem;
	margin-bottom : 1rem;
}

.input_box
{
	width         : 100%;
	height        : 40px;
	margin-bottom : 24px;
	transition    : .4s ease all;
	border        : 1px solid $white-400;
	border-radius : 4px;

	&:focus-within
	{
		border-color : $blue;
	}

	> input
	{
		width      : 100%;
		height     : 100%;
		padding    : 0 8px;
		border     : none;
		background : none;
	}
}
