@import 'colors';

.wrapper
{
	position         : absolute;
	display          : grid;
	width            : 100vw;
	height           : 100vh;
	background-color : $blue;
	place-items      : center;
}

.container
{
	overflow      : hidden;
	width         : calc(100% - 20px);
	height        : calc(100% - 20px);
	border-radius : 4px;
	box-shadow    : 0 0 1rem transparentize($black-100, .95);
}
